/* Model Cards | Right padding for the card buttons */
.extra-network-cards > .card > .button-row
{ padding-right: 0.2em; }

/* Model Cards | Disable default card button icons */
.extra-network-cards > .card > .button-row > .card-button:before
{ content: none; }

/* Model Cards | General style for the card buttons */
.extra-network-cards > .card > .button-row > .card-button
{
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 0.3em;
	height: 1.2em;
}

/* Model Cards | Card button icons */
.extra-network-cards > .card > .button-row > .card-button.replace
{ background-image: url('./html/image-update.svg'); }
.extra-network-cards > .card > .button-row > .card-button.resource
{ background-image: url('./html/resource.svg'); }
.extra-network-cards > .card > .button-row > .card-button.metadata-button
{ background-image: url('./html/info.svg'); }
.extra-network-cards > .card > .button-row > .card-button.edit-button
{ background-image: url('./html/settings.svg'); }

/* Model Cards | Coloring of card buttons on hover */
.extra-network-cards > .card > .button-row > .card-button.replace:hover
{ background-image: url('./html/hover/image-update.svg'); }
.extra-network-cards > .card > .button-row > .card-button.resource:hover
{ background-image: url('./html/hover/resource.svg'); }
.extra-network-cards > .card > .button-row > .card-button.metadata-button:hover
{ background-image: url('./html/hover/info.svg'); }
.extra-network-cards > .card > .button-row > .card-button.edit-button:hover
{ background-image: url('./html/hover/settings.svg'); }

/* Gradio box with padding */
.block.gradio-box.sd-mm-padded-box
{ padding: 1rem !important; }

/* Gradio column with fitted width */
.gradio-column.sd-mm-fitted-column
{
	margin-top: auto;
	flex-grow: 0 !important;
	min-width: fit-content !important;
}

/* Model image gallery container */
.sd-mm-gallery-html > .sd-mm-gallery
{
	gap: 1em;
	display: flex;
	flex-wrap: wrap;
	margin-left: 1.5em;
	margin-right: 1.5em;
	justify-content: center;
}

/* Action row for the model image gallery */
.sd-mm-gallery > .sd-mm-actions
{
	top: 0;
	right: 0;
	gap: 0.3em;
	display: flex;
	position: absolute;
	flex-direction: column;
}

/* Model image container */
.sd-mm-gallery > .sd-mm-image
{
	width: 14em;
	height: 14em;
	border-radius: 0.5em;
	position: relative;
	background: #1A1A1A;
	border: 0.1em solid #404040;
}

/* Model image */
.sd-mm-gallery > .sd-mm-image > img
{
	width: 100%;
	height: 100%;
	border-radius: 0.5em;
	cursor: zoom-in;
	object-fit: contain;
	object-position: center;
}

/* Model image action row */
.sd-mm-gallery > .sd-mm-image > .sd-mm-actions
{
	gap: 0.3em;
	top: 0.3em;
	right: 0.3em;
	display: flex;
	position: absolute;
	flex-direction: row;
	padding: 0.2em;
	border-radius: 0.3em;
	background-color: #00000080;
}

/* Model image action */
.sd-mm-gallery .sd-mm-actions > .sd-mm-action
{
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
}

/* Icon for the currently selected model image */
.sd-mm-gallery .sd-mm-actions > .sd-mm-preview
{
	cursor: default;
	background-image: url('./html/star-full.svg');
}

/* Icons for model image actions */
.sd-mm-gallery .sd-mm-actions > .sd-mm-send-to
{ background-image: url('./html/send-to.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-info
{ background-image: url('./html/info.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-star
{ background-image: url('./html/star.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-delete
{ background-image: url('./html/delete.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-add
{ background-image: url('./html/add.svg'); }

/* Coloring of model image actions on hover */
.sd-mm-gallery .sd-mm-actions > .sd-mm-send-to:hover
{ background-image: url('./html/hover/send-to.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-info:hover
{ background-image: url('./html/hover/info.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-star:hover
{ background-image: url('./html/hover/star.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-delete:hover
{ background-image: url('./html/hover/delete.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-add:hover
{ background-image: url('./html/hover/add.svg'); }

/* Full screen overlay for zoomed in image */
#sd-mm-full-screen-overlay
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	position: fixed;
	cursor: zoom-out;
	align-items: center;
	justify-content: center;
	background-color: #000000D9;
}

/* Full screen image */
#sd-mm-full-screen-overlay > img
{
	width: 90%;
	height: 90%;
	object-fit: contain;
	object-position: center;
}

/* Model info container */
.sd-mm-model-info-container
{
	gap: 0.5em;
	width: 60%;
	padding: 1.5em;
	font-size: 10pt;
	max-height: 90%;
	border-radius: 1em;
	display: flex;
	overflow: auto;
	cursor: default;
	color: #C2BDB5;
	background: #1E2122;
	flex-direction: column;
}

/* Model info container | Row of fields */
.sd-mm-model-info-container .row
{
	gap: 1em;
	display: flex;
	flex-direction: row;
}

/* Model info container | Field */
.sd-mm-model-info-container .field
{
	width: 100%;
	display: flex;
	text-align: right;
	align-items: center;
}

/* Model info container | Vertical field */
.sd-mm-model-info-container .vertical-field
{
	gap: 0.5em;
	display: flex;
	color: #9EBFD3;
	flex-direction: column;
}

/* Model info container | Name of a field */
.sd-mm-model-info-container .name
{
	margin-right: 1em;
	min-width: fit-content;
	font-family: sans-serif;
}

/* Model info container | Value of a field */
.sd-mm-model-info-container .value
{
	flex-grow: 1;
	padding: 0.5em;
	border-radius: 0.5em;
	background: #242728;
	font-family: monospace;
}

/* Model info container | Color for the value of a vertical field */
.sd-mm-model-info-container .vertical-field .value
{ background: rgb(41, 46, 48); }

/* Padding for the model search button */
#sd_mm_download_search
{
	padding-left: 5em;
	padding-right: 5em;
}

/* Remove orange border from download manager */
#sd_mm_download_manager .gradio-html .generating
{ border: none; }

/* Download manager container */
.sd-mm-download-manager
{
	width: 100%;
	padding-top: 0.5em;
	overflow: auto;
	display: block;
	font-family: sans-serif;
}

/* Download manager | Common style for table cells */
.sd-mm-download-manager td
{
	padding: 0.2em 2em !important;
	text-align: center !important;
	border: none !important;
}

/* Download manager | Table row filename */
.sd-mm-download-manager .filename
{ padding-left: 1em !important; }

/* Download manager | Filename container */
.filename .filename-container
{
	padding: 0.2em 1.5em;
	border-radius: 0.5em;
	white-space: nowrap;
	background: #24282A;
	font-family: monospace;
}

/* Download manager | File status */
.sd-mm-download-manager .status
{ font-weight: bold; }

/* Download manager | File progress bar */
.sd-mm-download-manager .progress-bar
{
	padding: 0 !important;
	width: 100%;
	min-width: 20em;
	position: relative;
}

/* Download manager | File progress bar container */
.progress-bar .bar-container
{
	height: 1.8em;
	border-radius: 0.5em;
	overflow: hidden;
	background-color: #0D303E;
}

/* Download manager | File progress bar */
.bar-container .bar
{
	height: 100%;
	border-radius: 0.5em;
	background: #006187;
}

/* Download manager | File progress bar percentage text */
.bar-container .percentage
{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

/* Download manager | File information field */
.sd-mm-download-manager .info
{
	font-size: 9pt;
	white-space: nowrap;
}