/* Thumbnail Mode | Resource icon on thumbnail previews */
.extra-network-thumbs > .card ul a.resource
{
	right: 0;
	left: unset;
	background-image: url('./html/resource.svg');
}

/* Thumbnail Mode | Flex row for the card actions */
.extra-network-thumbs > .card .additional
{
	display: flex;
	flex-direction: row;
}

/* Thumbnail Mode | Center metadata button */
.extra-network-thumbs > .card > .metadata-button
{
	top: 0;
	left: 0;
	line-height: 25px;
	margin: auto;
	width: fit-content;
}

/* Card Mode | Force display of the card actions */
.extra-network-cards > .card .additional
{ display: block !important; }

/* Card Mode | Flex row for the card actions */
.extra-network-cards .actions .additional ul
{
	gap: 0.5em;
	display: flex;
	flex-direction: row;
}

/* Card Mode | Use icons for the card actions */
.extra-network-cards .actions .additional a
{
	background-image: url('./html/image-update.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
	width: 28px;
	height: 28px;
}

/* Card Mode | Resource icon on card previews */
.extra-network-cards > .card ul a.resource
{ background-image: url('./html/resource.svg'); }

/* Card Mode | Coloring of the card actions */
.extra-network-cards > .card ul a:hover
{ color: #FFE396; }

/* Coloring of the replace preview icon on hover */
.extra-network-thumbs > .card ul a:hover,
.extra-network-cards .actions .additional a:hover
{ background-image: url('./html/hover/image-update.svg'); }

/* Coloring of the resource icon on hover */
.extra-network-thumbs > .card ul a.resource:hover,
.extra-network-cards > .card ul a.resource:hover
{ background-image: url('./html/hover/resource.svg'); }

/* Coloring of the metadata button on hover */
.extra-network-thumbs > .card > .metadata-button:hover,
.extra-network-cards > .card > .metadata-button:hover
{ color: #FFE396; }

/* Gradio box with padding */
.block.gradio-box.sd-mm-padded-box
{ padding: 1rem !important; }

/* Gradio column with fitted width */
.gradio-column.sd-mm-fitted-column
{
	margin-top: auto;
	flex-grow: 0 !important;
	min-width: fit-content !important;
}

/* Model image gallery container */
.sd-mm-gallery-html > .sd-mm-gallery
{
	gap: 1em;
	display: flex;
	flex-wrap: wrap;
	margin-left: 1.5em;
	margin-right: 1.5em;
	justify-content: center;
}

/* Action row for the model image gallery */
.sd-mm-gallery > .sd-mm-actions
{
	top: 0;
	right: 0;
	gap: 0.3em;
	display: flex;
	position: absolute;
	flex-direction: column;
}

/* Model image container */
.sd-mm-gallery > .sd-mm-image
{
	width: 14em;
	height: 14em;
	border-radius: 0.5em;
	position: relative;
	background: #1A1A1A;
	border: 0.1em solid #404040;
}

/* Model image */
.sd-mm-gallery > .sd-mm-image > img
{
	width: 100%;
	height: 100%;
	border-radius: 0.5em;
	cursor: zoom-in;
	object-fit: contain;
	object-position: center;
}

/* Model image action row */
.sd-mm-gallery > .sd-mm-image > .sd-mm-actions
{
	gap: 0.3em;
	top: 0.3em;
	right: 0.3em;
	display: flex;
	position: absolute;
	flex-direction: row;
}

/* Model image action */
.sd-mm-gallery .sd-mm-actions > .sd-mm-action
{
	width: 1.2em;
	height: 1.2em;
	cursor: pointer;
}

/* Icon for the currently selected model image */
.sd-mm-gallery .sd-mm-actions > .sd-mm-preview
{
	cursor: default;
	background-image: url('./html/star-full.svg');
}

/* Icons for model image actions */
.sd-mm-gallery .sd-mm-actions > .sd-mm-send-to
{ background-image: url('./html/send-to.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-info
{ background-image: url('./html/info.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-star
{ background-image: url('./html/star.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-delete
{ background-image: url('./html/delete.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-add
{ background-image: url('./html/add.svg'); }

/* Coloring of model image actions on hover */
.sd-mm-gallery .sd-mm-actions > .sd-mm-send-to:hover
{ background-image: url('./html/hover/send-to.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-info:hover
{ background-image: url('./html/hover/info.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-star:hover
{ background-image: url('./html/hover/star.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-delete:hover
{ background-image: url('./html/hover/delete.svg'); }
.sd-mm-gallery .sd-mm-actions > .sd-mm-add:hover
{ background-image: url('./html/hover/add.svg'); }

/* Full screen overlay for zoomed in image */
#sd-mm-full-screen-overlay
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	position: fixed;
	cursor: zoom-out;
	align-items: center;
	justify-content: center;
	background-color: #000000D9;
}

/* Full screen image */
#sd-mm-full-screen-overlay > img
{
	width: 90%;
	height: 90%;
	object-fit: contain;
	object-position: center;
}

/* Model info container */
.sd-mm-model-info-container
{
	gap: 0.5em;
	width: 60%;
	padding: 1em;
	font-size: 9pt;
	max-height: 90%;
	border-radius: 1em;
	display: flex;
	overflow: auto;
	cursor: default;
	color: #C2BDB5;
	background: #1E2122;
	flex-direction: column;
}

/* Model info container | Row of fields */
.sd-mm-model-info-container .row
{
	gap: 1em;
	display: flex;
	flex-direction: row;
}

/* Model info container | Field */
.sd-mm-model-info-container .field
{
	width: 100%;
	display: flex;
	text-align: right;
	align-items: center;
}

/* Model info container | Vertical field */
.sd-mm-model-info-container .vertical-field
{
	gap: 0.5em;
	display: flex;
	color: #9EBFD3;
	flex-direction: column;
}

/* Model info container | Name of a field */
.sd-mm-model-info-container .name
{
	margin-right: 1em;
	min-width: fit-content;
	font-family: sans-serif;
}

/* Model info container | Value of a field */
.sd-mm-model-info-container .value
{
	flex-grow: 1;
	padding: 0.5em;
	border-radius: 0.5em;
	background: #242728;
	font-family: monospace;
}

/* Model info container | Value of a vertical field */
.sd-mm-model-info-container .vertical-field .value
{ background: rgb(41, 46, 48); }